{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "linebreak-style": ["error", "unix"],
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "no-useless-constructor": "off",
    "no-tabs": "off",
    "no-console": "off",
    "object-curly-spacing": "off",
    "no-shadow": "off",
    "no-prototype-builtins": "off",
    "comma-dangle": "off",
    "curly": "off",
    "indent": ["error", "tab", { "SwitchCase": 1 }],
     "max-len": ["error", 150],
    "new-cap": ["error", { "capIsNewExceptions": ["CSSModules", "WrapComponent"] }],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/imports-first": "off",
    "import/extensions": "off",
    "jsx-a11y/img-has-alt": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/forbid-prop-types": "off",
    "react/sort-comp": "off",
    "react/prop-types": "off",
    "react/require-extension": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-bind": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-indent": [2, 'tab'],
    "react/jsx-indent-props": [2, 'tab'],
    "react/jsx-curly-spacing": [2, "always"],
  }
}
